.view-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;

	width: 100%;
	min-height: 100%;
	margin-left: 15rem;

	background-color: var(--background-primary);
}

.courses-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 0.5rem;

	padding: 0.5rem;
	margin-top: 59px;
}
