.wrapper {
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 2.5rem;

	min-width: 464px;
	min-height: 288px;
	padding: 2rem;
	margin: auto 0;
	border-radius: 0.5rem;
	border: 1px solid #e9eaeb;

	background-color: #f9f9fb;

	box-shadow: 0px 4px 30px 0px rgba(33, 37, 41, 0.07);
}
