.view-header-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;

    padding: 0.5rem;
    gap: 0.5rem;

    border-bottom: 1px solid var(--content-background);
}