.view-header-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	position: fixed;
	width: calc(100% - 20rem);
	height: auto;
	padding: 0 0.5rem;

	background-color: var(--background-primary);
}
