.container {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.icon {
	position: absolute;
	top: 0;
	left: 50%;

	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.show {
	z-index: 2;
	opacity: 1;
}
