.actions-wrapper {
    display: flex;

    gap: 12px;
    padding: 0.5rem;
    height: 2.5rem;

    border-radius: 0.25rem;

    background: var(--Background-color-background-secondary, var(--background-secondary));
}