.question {
	color: var(--content-secondary);
	font: var(--body-medium16);
	letter-spacing: 0.16px;
}
.answers {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 1rem;

	& input[type='radio'] {
		display: none;
	}
	& input[type='radio']:checked + .custom-radio {
		border-color: var(--content-primary);
	}
	& input[type='radio']:checked + .custom-radio::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 10px;
		height: 10px;
		border-radius: 50%;

		background-color: var(--accent-primary);

		transform: translate(-50%, -50%);
	}
	& label {
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;

		font: var(--body-medium16);
		letter-spacing: 0.16px;
		color: var(--content-primary);

		&:hover .custom-radio::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 10px;
			border-radius: 50%;

			background-color: var(--content-border);

			transform: translate(-50%, -50%);
		}
		&:hover {
			color: var(--content-subPrimary);
		}
	}
}
.custom-radio {
	display: inline-block;

	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 2px solid var(--content-border);
	border-radius: 50%;

	transition: border-color 0.2s ease-in-out;
}
.btn {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--accent-primary);

	max-width: 256px;

	font: var(--semiBold16);
	color: var(--content-constant);

	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.btn_success {
	&:hover {
		background-color: var(--accent-subPrimary);

		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}
	&:active {
		background-color: var(--accent-secondary);

		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}
}
.btn_disabled {
	color: var(--content-disabled);

	background-color: var(--content-background);

	cursor: auto;
}
