.auth-main {
	display: flex;
	flex-direction: column;
	align-items: normal;
	gap: 1.25rem;

	& button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;

		padding: 1rem;
		border-radius: 0.5rem;

		background-color: var(--blue-crayola);

		font-family: 'Lato', sans-serif;
		font-weight: 600;
		line-height: 1.25;
		letter-spacing: 0.32px;
		color: var(--white);
	}

	& label {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-self: baseline;
		gap: 0.5rem;
	}
}
