.lesson {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 0.75rem;

	cursor: pointer;

	& span {
		max-width: 80%;
		word-break: break-word;

		font: var(--body-regular14);
		color: var(--content-primary);
	}
}
.managment-btn {
	display: flex;
	flex-direction: row;
	column-gap: 0.5rem;

	margin-left: auto;
	margin-right: 0.25rem;

	& button {
		flex-shrink: 0;

		&:hover {
			& path {
				transition: stroke 0.2s ease-in-out;
				stroke: var(--accent-subPrimary);
			}
		}
	}
}
