.view-wrapper {
	display: flex;
	flex-direction: column;

	position: relative;
	width: 100%;
	height: 100vh;
	margin-left: 340px;
}
.temp-content {
	min-height: calc(100vh - 124px);
	margin-top: 124px;

	background-color: var(--background-secondary);
}
