.filter-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	flex-shrink: 0;

	height: 2rem;
	padding: 1rem;
	border-radius: 0.25rem;

	background: var(--accent-background);

	font: var(--semiBold14);
	color: var(--accent-primary);
	letter-spacing: 0.42px;
}

.filter-btn:hover {
	background: var(--accent-border);
}

.filter-btn:active {
	background: var(--accent-disabled);
}
