.all-courses {
	display: flex;
	flex-direction: column;

	margin-top: 59px;
}
.courses-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 0.5rem;

	padding: 0.5rem;
}
