.nav-panel {
	width: 340px;
	height: 100vh;
	border-right: 1px solid var(--content-background);

	background-color: var(--background-primary);
}
.nav__list {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0.25rem;
}
