.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--background-overlay-dark);

	z-index: 49;
}
.popup {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	position: fixed;
	top: 50%;
	left: 50%;
	width: 480px;
	padding: 2rem;
	border-radius: 1.25rem;
	border: 1px solid var(--content-background);

	background-color: var(--background-modal);

	transform: translateX(-50%) translateY(-50%);
}
.top-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title {
	color: var(--content-primary);
}
.cross {
	display: flex;
	flex-shrink: 0;
}
.describe-block {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	font: var(--body-regular16);
	letter-spacing: 0.16px;
}
.input-box {
	position: relative;
	width: 100%;
	height: 52px;
	border-radius: 0.5rem;
	border: 2px solid var(--content-border);

	font: var(--body-regular16);
	letter-spacing: 0.16px;

	&:hover {
		border-color: var(--accent-border);

		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}
	&:focus-within {
		border-color: var(--accent-border);
		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}

	& input::placeholder {
		color: transparent;
	}
	& input {
		width: 100%;
		height: 100%;
		padding: 10px;
		border: none;

		background: transparent;

		color: var(--content-primary);

		outline: none;
	}
	& span {
		position: absolute;
		top: 50%;
		left: 10px;

		color: var(--content-secondary);

		transition: 0.3s ease;
		transform: translateY(-50%);
		pointer-events: none;
	}
}
.input-box input:focus ~ span,
.input-box input:not(:placeholder-shown) ~ span {
	top: -10px;
	left: 8px;

	font: var(--body-regular12);
	color: var(--content-secondary);
	letter-spacing: 0.12px;
}
.annotation-box {
	position: relative;
	width: 100%;
	height: 208px;
	border-radius: 0.5rem;
	border: 2px solid var(--content-border);

	&:hover {
		border-color: var(--accent-border);

		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}
	&:focus-within {
		border-color: var(--accent-border);
		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}
	& span {
		position: absolute;
		top: 14px;
		left: 10px;

		color: var(--content-secondary);

		transition: 0.3s ease;
		pointer-events: none;
	}
}
.annotation-area {
	width: 100%;
	height: 100%;
	padding: 12px;
	border: none;

	background: transparent;

	font: var(--body-regular16);
	color: var(--content-primary);
	letter-spacing: 0.16px;

	resize: none;
	outline: none;

	&:focus ~ span,
	&:not(:placeholder-shown) ~ span {
		top: -17px;
		left: 8px;

		font: var(--body-regular12);
		color: var(--content-secondary);
		letter-spacing: 0.12px;
	}
}
.char-counter {
	position: absolute;
	bottom: -22px;
	left: 8px;

	font: var(--body-medium14);
	color: var(--content-disabled);
	letter-spacing: 0.14px;
}
.btn-wrapper {
	display: flex;
	flex-direction: row;
	column-gap: 1.5rem;
}
.half-parent {
	width: calc((100% - 1.5rem) / 2);
}
