.group {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 1rem;

	min-height: 64px;
	padding: 0 1rem;
	border-top: 1px solid var(--content-background);

	background: var(--background-modal);

	&:last-child {
		border-bottom-right-radius: 0.75rem;
		border-bottom-left-radius: 0.75rem;
	}
	& > button {
		position: relative;
	}
	& > span {
		width: calc((100% - 1rem) / 2);
		font: var(--body-medium14);
		letter-spacing: 0.14px;
		color: var(--content-primary);
	}
}
