.header-wrapper {
	display: flex;
	justify-content: space-between;

	width: 100%;
	position: fixed;
	border-bottom: 1px solid var(--content-background);

	background-color: var(--background-primary);

	z-index: 10;
}
