.course-title {
	max-width: 80%;
	word-break: break-word;

	font: var(--body-medium14);
	letter-spacing: 0.14px;
	color: var(--content-primary);
}
.manage-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0.125rem;

	& button {
		flex-shrink: 0;

		&:hover {
			& path {
				stroke: var(--accent-subPrimary);
			}
		}
	}
}
.drop-down-arrow {
	& svg {
		transition: transform 0.2s ease-in-out;
	}
}
.is-expanded-content .drop-down-arrow {
	& svg {
		transform: rotateZ(180deg);
	}
}
.content {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 0.75rem;
	cursor: pointer;
}

.content-text {
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: space-between;

	padding-bottom: 4px;
	border-bottom: 1px solid var(--content-background);
}

.module-container {
	display: block;
	background-color: var(--background-sub-primary);
	border-radius: 0.5rem;
	padding-bottom: 7px;
}

.is-expanded-content {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.is-expanded-module {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
