.question {
	color: var(--content-secondary);
	font: var(--body-medium16);
	letter-spacing: 0.16px;
}
.description-area:focus ~ span,
.description-area:not(:placeholder-shown) ~ span {
	top: -17px;
	left: 8px;

	font: var(--body-regular12);
	color: var(--content-secondary);
	letter-spacing: 0.12px;
}
.description-box {
	position: relative;
	max-width: 420px;
	height: 208px;
	border-radius: 0.5rem;
	border: 2px solid var(--content-border);

	&:hover {
		border-color: var(--accent-border);

		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}
	&:focus-within {
		border-color: var(--accent-border);
		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}
}
.description-area {
	width: 100%;
	height: 100%;
	padding: 12px;
	border: none;

	background: transparent;

	font: var(--body-regular16);
	color: var(--content-primary);
	letter-spacing: 0.16px;

	resize: none;
	outline: none;
}
.description-box span {
	position: absolute;
	top: 14px;
	left: 10px;

	color: var(--content-secondary);

	transition: 0.3s ease;
	pointer-events: none;
}
.char-counter {
	position: absolute;
	bottom: -22px;
	left: 8px;

	font: var(--body-medium14);
	color: var(--content-disabled);
	letter-spacing: 0.14px;
}
.fileLabel {
	display: inline-block;
	width: 24px;
	height: 24px;
	position: relative;
	bottom: 36px;
	left: calc(100% - 40px);

	cursor: pointer;
}
.fileInput {
	display: none;
}
.icon {
	font-size: 20px;
	color: #757575;
}
.cross {
	position: absolute;
	bottom: 10px;
	left: calc(100% - 32px);
	color: var(--red-main);

	cursor: pointer;
}
.btn {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--accent-primary);

	max-width: 256px;

	font: var(--semiBold16);
	color: var(--content-constant);

	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.btn_success {
	&:hover {
		background-color: var(--accent-subPrimary);

		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}
	&:active {
		background-color: var(--accent-secondary);

		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}
}
.btn_disabled {
	color: var(--content-disabled);

	background-color: var(--content-background);

	cursor: auto;
}
