.card {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	max-width: 450px;
	height: 26.5rem;
	padding: 1rem;

	background-color: var(--background-primary);

	border-radius: 1.5rem;
	border: 1px solid var(--content-background);

	transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
	box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.03);
	cursor: pointer;

	&:hover {
		border-color: var(--accent-background);

		background-color: var(--background-sub-primary);

		box-shadow: 0px 0px 16px 0px var(--accent-border);
	}
	&:active {
		border-color: var(--accent-border);

		background-color: var(--background-sub-primary);

		box-shadow: 0px 0px 4px 0px var(--accent-border),
			0px 32px 128px 128px rgba(255, 255, 255, 0.1) inset;
	}
}
.course-img {
	height: 13.5rem;

	border-radius: 1rem;
}
.tags-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.25rem;
	flex-wrap: wrap;
}
.title {
	font-family: 'Roboto Flex';
	height: 56px;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;

	display: -webkit-box; /* Используем flexbox-эквивалент для обрезки */
	-webkit-box-orient: vertical; /* Ориентируем flex-контейнер вертикально */
	overflow: hidden; /* Скрываем текст, который не помещается */
	text-overflow: ellipsis; /* Добавляем троеточие */
	-webkit-line-clamp: 2; /* Ограничиваем количество видимых строк */

	color: var(--content-primary);
}

.description {
	height: 3.75rem;

	display: -webkit-box; /* Используем flexbox-эквивалент для обрезки */
	-webkit-box-orient: vertical; /* Ориентируем flex-контейнер вертикально */
	overflow: hidden; /* Скрываем текст, который не помещается */
	text-overflow: ellipsis; /* Добавляем троеточие */
	-webkit-line-clamp: 3; /* Ограничиваем количество видимых строк */ /* Межстрочный интервал */

	font-family: 'Roboto Flex';
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;

	color: var(--content-secondary);
}

/* @media (max-width: 1280px) {
    .card {
        --count: 3
    }
}

@media (max-width: 768px) {
    .card {
        --count: 1
    }
} */
